/****************************normalizo el estilo****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Inter', sans-serif; */

/************************estilo de la estructura***************/
/*aplico la fuente*/
body{
    font-family: 'Inter', sans-serif;
}


/*aplico fondo de header y color de letra*/ 
header{
   
    border-bottom:  2px solid rgb(199, 159, 39);   
    color: azure;
    
}

/*propiedades h1*/
h1{
    font-size: 65px;
    text-shadow: 4px 4px 2px rgb(199, 159, 39);
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
}

/*cambio el color de letra a los links del header*/
header a{
    color: azure;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
     
}

header a:hover{
     
    text-shadow: 1px 1px 1px rgb(199, 159, 39);
}

/*propiedades arrafos del header*/
header p{
    font-size: 25px;
    font-weight: bold;
  
}

/*propiedades footer*/
footer{
    border-top: 2px solid rgb(199, 159, 39);
   /* background-color:rgb(225, 201, 131);*/
    background: linear-gradient(90deg, rgb(248, 243, 228) 0%, rgb(199, 159, 39) 100%);
    height: 85px;
    
    
    
}
/*color de letras de link del footer*/
footer a{
    color: azure;
    
}

footer ul{
    list-style: none;
}


/*porpiedades de los section*/
section{
   
    padding: 20px 0px;

}

/*propiedades h3 de los section*/
section h3{
    font-size: 25px;
 
}

/*propiedades de los articles*/
article{
    margin-bottom: 20px;
}

/*propiedades de los parafos de los articles*/
article p{
    font-size: 16px;
}

article h3{
    font-size: 20px;
}

/********************estilo del frm***************************/



/*letra mas grande para los btns*/
form input[type="submit"], form input[type="reset"] {
    font-size: medium;
    width: 200px;
    height: 40px;
} 

/*propiedades de input tipo text y email*/
form input[type="text"],form input[type="email"]{
    width: 400px;
    border-radius: 3px;
    height: 25px;
}

/*agrando la fuente y pongo negrita en el legend*/
legend{
    font-weight: 700; 
    font-size: x-large;  
      
}

/*propiedades del fieldset*/
fieldset{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
/*propiedades del labe de fieldset*/
fieldset label{
    font-size: larger;
    font-weight: bold;
    
}

 

/*************************clases*****************************/
 


/*clases para poner un fondos*/
.fondo-claro-gradiante{
        background: linear-gradient(90deg, rgba(248, 244, 236,1) 0%, rgba(199,170,102,1) 100%);
}

 
.fondo-claro{
    background-color: #F8F3E4;
}

.fondo-blanco{
    background-color: white;
}

/*clases para los elementos de las paginas*/

/*clase para la imagen y el menu del header*/
.header{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}



/*clasee para la barra de navegacion*/
.nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
       
}

.a-seleccionado{
     text-shadow: 1px 1px 1px rgb(199, 170, 102);
}

.div-tienda{
    width: 100%;
     padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.div-tienda form{
    width: 70%;
}

/*clse para la galeria de la tienda*/
.galeria{
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    padding-left: 25px;
    padding-bottom: 20px;

}

.principal-index{
   
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;



}

.foto-redonda{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.imagen{
    width: 100%;
    object-fit: contain;
 
}

.header-index{

    width: 100%;
    height: 100vh;
    background: linear-gradient(blue, pink);
    background-image: url('../assets/img/fondo-degradado-4.png');
     
}

.main-index{
    height: 2200px;
}


.background-header{
    background-image: url("../assets/img/fondo-header-no-index.png");
}

.img-header{
    
    border-radius: 150px;

  
} 

.formato-menu{
    position: relative;    
    left: 10%;
    bottom: 50px;
 
}

.formulario-contacto{
    width: 60%;
  
   

}

.div-blanco{
    background-color: #F1EAD9;
    padding-bottom: 20px;
    width: 80%;
    border-radius: 5px;
    margin-left: 200px;
    box-shadow: 4px 4px 2px rgb(199, 170, 102);
}

.div-blanco ul li{
   margin-bottom: 8px;
   list-style: none;
}

.div-blanco ul li u{
    font-size: large;
}


.margen-ul{
    margin-bottom: 50px;
}



.frm-busqueda{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    gap: 10px;
    justify-content: center;
    align-content: center;
    padding: 10px;
 
}

.frm-busqueda img{
    justify-self: flex-end;
}

.frm-busqueda input[type="text"]{
 
   width: 100%;
    height: 40px;
     border: 1px solid rgb(199, 170, 102);
    background-color: #F8F4EC ;
}

.frm-busqueda button{
    justify-self: flex-start;
    width: 100%;
    border-radius: 3px;
    height: 40px;
    border: 1px solid black;
    
}

.frm-busqueda button:hover{
    font-weight: bold;
  
}

.frm-busqueda img{
   border-radius: 50%;
  
}


.div-proximos{
    width: 100%;
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

}


.busqueda-eventos{  
    width: 70%; 
    display: flex;
    padding-left: 20px;
   
    height: 100px;
    background-color: rgb(248, 243, 228);
    border: 2px solid rgb(199, 170, 102);
    border-radius: 5px;

}
.contenedor-eventos{
    display: flex;
    flex-direction: column;

    padding: 20px 40px;
  
    gap: 20px;
    width: 70%; 
    height: 620px;
    border-radius: 5px;
    background-color:rgb(248, 243, 228);
    border: 1px solid rgb(199, 170, 102);
}    

.contenedor-eventos ul{
    font-size: 20px;

}

.contenedor-ganadores{
    width: 70%;
    margin-top: 20PX;
    margin-bottom: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    

}


.section-historia{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.footer{
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.div-contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 768px;
    gap: 25px;
    padding-top: 20px;

}

/*clse para poner display en linea*/
.display-enlinea{
    display: inline;
}

/*clase para establecer posciones y flex*/
.posicion-absoluta{
    text-align: center;
    position: absolute;
    top: 450px;
    left: 150px;
}

.posicion-relativa{
    position: relative;
}

.display-flex-row{   
    display: flex;
    flex-flow: row wrap;     
    justify-content: center;
    gap: 20px;
}


.display-flex-row-between{   
    display: flex;
    flex-flow: row wrap;     
    justify-content: space-between;
    gap: 20px;
}


.display-flex-column{
   
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.display-flex-column-gap-10{
   
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.flex-centrado-columna{
    align-items: center;
  
}

.flex-principio-columna{
    align-items: flex-start;
  
}

/*clases para bordes*/
.borde-negro{
    border: 1px solid black;
}

.borde-inferior{
    border-bottom: 2px solid rgb(199, 170, 102);
}

.borde-imagenes{
    border: 5px outset rgb(199, 170, 102) ;
}

.borde{
    border: 1px solid rgb(199, 170, 102);
}

 
 /*clases para texto*/
.centrar{
    text-align: center;
}

.centrado-principio{
    text-align: start;
}

.no-decoration{
    text-decoration: none;
}

.subrayado{
    text-decoration: underline;
}

.tamaño-fuente-20{
    font-size: 20px;
}

.negrita{
    font-weight: bold;
}

/*clases para tamaño  */
 
 
 .altura-main-780{
    height: 780px;
}

.ancho-70{
    width: 70%;
}

.ancho-100{
    width: 100%;
}

.ancho-60{
    width: 600px;
}

.ancho-300{
    width: 400px;
}
 /*clases para margenes y paddings*/
  
 .flotar-izquierda{
     float: left;
 }

 .flotar-derecha{
    float: right;
}

.margen-izquierdo{
    margin-left: 40px;
}

.margen-izquierdo-20{
    margin-left: 20px;
}

.margen-derecho{
    margin-right: 40px;
}

.margen-abajo{
    margin-bottom: 20px;
}

.margen-arriba{
    margin-top: 20px;
}

.margen-arriba-10{
   margin-top: 10px;
}

.margen-arriba-40{
    margin-top: 40px;
}

.margen-abajo-10{
    margin-bottom: 10px;
}

.pading-abajo-25{
    padding-bottom: 25px;
}

.pading-abajo-40{
    padding-bottom: 40px;
}

 .padding-arriba-20{
     padding-top: 20px;
 }

 .padding-izquierdo-20{
     padding-left: 20px;
 }


/*clases para color y fondos*/
.color-dorado{
    color: rgb(199, 170, 102);
}



 /*Clases para las cards*/

 .card{
     padding: 20px;
     height:375px;
     width:300px;
     border: 1px solid rgb(199, 170, 102);
     box-shadow: 4px 4px 2px rgb(199, 170, 102);
     border-radius: 5px;
     text-align: center;
     background-color: white;
    
 }

 .card-image{
     margin: 0 0 10px 20px;
     height: 175px;
     width: 220px;
     object-fit: cover;
 }

 .card-data{    
     font-size: 1rem;
     color: black;
 }

 .card-title{
     font-weight: bold;
 }
 .card-button{
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    color:black;
    cursor: pointer;
    font-size: 1rem;

 }

 .card-button:hover{
     font-weight: bold;
   
 }


 /*card para los ganadores*/

 .card-ganadores{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(199, 159, 39);  
    height:260px;
    width:220px;
   background-color:  rgb(248, 243, 228);
    border-radius: 10px;
    
  
   
}


.card-image-ganadores{
    width: 100%;
    height:150px;
   
   
}

.img-gana{
    width: 90%;
    height: 100%;
    
    border-radius: 5px;
    
}

.card-data-ganadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    
     border-top: none;
    /* background-color:  rgb(248, 243, 228);*/
}


/*grid*/

.grid-header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

    
}


.grid-menu{
    
    list-style: none;
    display: grid;
    justify-content: end;
    grid-template-columns: 55px 230px 260px 180px 70px 100px;
    gap: 20px;
    margin-right: 20px;
}


.grid-footer{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    align-items: center;
}


.grid-ganadores{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
    padding-bottom: 45px;
}



.item-izquierda{
    justify-self: end;
}

.item-derecha{
    justify-self: start;
}




/*media querys */

@media(max-width:1024px){
    .grid-header{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr ;
        justify-items: center;
        padding-bottom: 20px;
       
    }

    .grid-menu{
        margin-right: 0px;
    }

    .display-flex-row-between{
        flex-direction: column;
    }

    .grid-ganadores{
        
        grid-template-columns: repeat(3,1fr);
    }
}


@media(max-width:780px){
    .grid-header{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr ;
        justify-items: center;
       
       
    }

    .grid-menu{
        grid-template-columns: 1fr;
        grid-template-rows: 7fr ;
       justify-items: center;
    }

    .posicion-absoluta{
        left: 100px;
    }

    .section-historia p{
        text-align: center;
    }

    .grid-ganadores{
        
        grid-template-columns: 1fr 1fr;
    }

    .frm-busqueda input[type=text]{
        width: 300px;
    }

    .frm-busqueda button{
        width: 100px;
    }

    .galeria{
        justify-content: center;
    }

}

@media(max-width:480px){
    .header-index{
        height: auto;
        
    }

    

    .posicion-absoluta{
        display: none;
    }

    article p{
        text-align: center;
        font-size: 22px;
    }


    .display-flex-row-between img{
         width: 100%;
         height: auto;
        object-fit: contain;
    }

    .display-flex-row-between p{
        width: 100%;
       
   }

   .display-flex-column p{
       width: 100%;
   }



   .grid-footer{
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    padding-bottom: 10px;
  
    }

    .grid-footer .item-izquierda{
        justify-self: center;
    }

    .grid-footer .item-derecha{
        justify-self: center;
    }


    .grid-footer ul{
        margin-left: 0px;
    }

    .section-historia p{
        text-align: center;
        font-size: 22px;
    }

    .section-historia h2{
        text-align: center;
    }

    .grid-ganadores{
        
        grid-template-columns: 1fr;
    }

    h2{
        text-align: center;
    }


    .frm-busqueda{
        grid-template-columns: 1fr;
       padding: 10px;
    }   

    .frm-busqueda input[type="text"]{
        padding: 5px;
        justify-self: center;
        width: 100%;
       
    }   

    .frm-busqueda button{
        justify-self: center;
        height: 30px;
       
    } 

    .frm-busqueda img{
        display: none;
    } 

    .formulario-contacto{
        width: 70%;
    }

    .formulario-contacto input[type="text"],.formulario-contacto input[type="email"]{
        width: 150px;

    }

    .formulario-contacto legend{
        font-size: 23px;
    }

    .formulario-contacto fieldset label{
        font-size: 18px;
        font-weight: normal;
    }

    .formulario-contacto fieldset label span{
       
        font-weight: bold;
    }

    .formulario-contacto input[type="submit"],.formulario-contacto input[type="reset"]{
        margin-bottom:  10px;

    }

}
