/****************************normalizo el estilo****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Inter', sans-serif; */

/************************estilo de la estructura***************/
/*aplico la fuente*/
body{
    font-family: 'Inter', sans-serif;
}


/*aplico fondo de header y color de letra*/ 
header{
    border-bottom:  2px solid rgb(199, 170, 102);;
   
    color: azure;
    
}

/*propiedades h1*/
h1{
    font-size: 65px;
    text-shadow: 4px 4px 2px rgb(199, 170, 102);
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
}

/*cambio el color de letra a los links del header*/
header a{
    color: azure;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
     
}

/*propiedades arrafos del header*/
header p{
    font-size: 25px;
    font-weight: bold;
  
}

/*propiedades footer*/
footer{
    border-top: 2px solid rgb(199, 170, 102);
    background-color:rgb(225, 201, 131);
    height: 85px;
    padding-top:20px ;
    
    
}
/*color de letras de link del footer*/
footer a{
    color: azure;
    margin-right: 10px;
}

/* propoedades parrafos del footer*/
footer p{
    position: relative;
    margin-left: 40%; 
    bottom: 10px;
    
}

/* porpiedades listas del footer*/
footer ul{
    position: relative;
     
}

/*porpiedades de los section*/
section{
    margin: 0px 40px;
    padding: 40px 0px;

}

/*propiedades h3 de los section*/
section h3{
    font-size: 25px;
margin-bottom: 10px;
}

/*propiedades de los articles*/
article{
    margin-bottom: 20px;
}

/*propiedades de los parafos de los articles*/
article p{
    font-size: 20px;
}

/*propiedades imagenes del main*/
main img{
    margin: 20px;
}
/********************estilo del frm***************************/



/*letra mas grande para los btns*/
form input[type="submit"], form input[type="reset"] {
    font-size: medium;
    width: 200px;
    height: 40px;
} 

/*propiedades de input tipo text y email*/
form input[type="text"],form input[type="email"]{
    width: 400px;
    border-radius: 3px;
    height: 25px;
}

/*agrando la fuente y pongo negrita en el legend*/
legend{
    font-weight: 700; 
    font-size: x-large;  
      
}

/*propiedades del fieldset*/
fieldset{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
/*propiedades del labe de fieldset*/
fieldset label{
    font-size: larger;
    font-weight: bold;
    
}

 

/*************************clases*****************************/
 


/*clases para poner un fondos*/
.fondo-claro-gradiante{
        background: linear-gradient(90deg, rgba(248, 244, 236,1) 0%, rgba(199,170,102,1) 100%);
}

 
.fondo-claro{
    background-color: #F8F4EC;
}

.fondo-blanco{
    background-color: white;
}

/*clases para los elementos de las paginas*/
.header-index{

    width: 100%;
    height: 100vh;
    background: linear-gradient(blue, pink);
    background-image: url('../assets/img/fondo-degradado-4.png');
     
}

.main-index{
    height: 2200px;
}


.header-no-index{
    background-image: url("../assets/img/fondo-header-no-index.png");
}

.img-header{
    position: relative;
    border-radius: 150px;
    left: 50px;
  
} 

.formato-menu{
    position: relative;    
    left: 10%;
    bottom: 50px;
 
}

.formulario-contacto{
    width: 60%;
    margin-left: 350px;
    padding: 20px;

}

.div-blanco{
    background-color: #F1EAD9;
    padding-bottom: 20px;
    width: 80%;
    border-radius: 5px;
    margin-left: 200px;
    box-shadow: 4px 4px 2px rgb(199, 170, 102);
}

.div-blanco ul li{
   margin-bottom: 8px;
   list-style: none;
}

.div-blanco ul li u{
    font-size: large;
}


.margen-ul{
    margin-bottom: 50px;
}

.busqueda-eventos{
    width: 80%;    
    margin-left: 130px;    
    height: 100px;
    background-color: #F1EAD9;
    border: 2px solid rgb(199, 170, 102);
    border-radius: 5px;

}

.frm-busqueda{
    position: relative;
    bottom: 30px;
}

.frm-busqueda input[type="text"]{
    width: 700px;
    height: 40px;
     border: 1px solid rgb(199, 170, 102);
    background-color: #F8F4EC ;
}

.frm-busqueda button{
    width: 200px;
    border-radius: 3px;
    height: 40px;
    border: 1px solid black;
    
}

.frm-busqueda button:hover{
    font-weight: bold;
  
}

.contenedor-eventos{
    width: 80%;    
    margin-left: 130px; 
    margin-top: 10px;
    padding: 20px;   
    height: 620px;
    border-radius: 5px;
    background-color: #F1EAD9;
    border: 1px solid rgb(199, 170, 102);
}    

.contenedor-eventos ul{
    font-size: 20px;

}

.section-historia{
    border:1px solid black;
    padding:  15px;
    border-radius: 5px;
    background-color: #F1EAD9;
    border: 1px solid rgb(199, 170, 102);
}

/*clse para poner display en linea*/
.display-enlinea{
    display: inline;
}

/*clase para establecer posciones*/
.posicion-absoluta{
    text-align: center;
    position: absolute;
    top: 450px;
    left: 150px;
}

.posicion-relativa{
    position: relative;
}




/*clases para bordes*/
.borde-inferior{
    border-bottom: 2px solid rgb(199, 170, 102);
}

.borde-imagenes{
    border: 5px outset rgb(199, 170, 102) ;
}

.borde{
    border: 1px solid rgb(199, 170, 102);
}

 
 /*clases para texto*/
.centrar{
    text-align: center;
}

.centrado-principio{
    text-align: start;
}

.no-decoration{
    text-decoration: none;
}

.subrayado{
    text-decoration: underline;
}

.tamaño-fuente-20{
    font-size: 20px;
}

.negrita{
    font-weight: bold;
}

/*clases para tamaño  */
 .tamaño-40{
     width: 40%;
 }
 
 .altura-main-780{
    height: 780px;
}


 /*clases para margenes y paddings*/
  
 .flotar-izquierda{
     float: left;
 }

 .flotar-derecha{
    float: right;
}

.margen-izquierdo{
    margin-left: 40px;
}

.margen-izquierdo-20{
    margin-left: 20px;
}

.margen-derecho{
    margin-right: 40px;
}

.margen-abajo{
    margin-bottom: 20px;
}

.margen-arriba{
    margin-top: 20px;
}

.margen-arriba-10{
   margin-top: 10px;
}

.margen-arriba-40{
    margin-top: 40px;
}

.pading-abajo-25{
    padding-bottom: 25px;
}

.pading-abajo-40{
    padding-bottom: 40px;
}

 .padding-arriba-20{
     padding-top: 20px;
 }

 .padding-izquierdo-20{
     padding-left: 20px;
 }

 /*Clases para las cards*/

 .card{
     padding: 20px;
     height:375px;
     width:300px;
     border: 1px solid rgb(199, 170, 102);
     box-shadow: 4px 4px 2px rgb(199, 170, 102);
     border-radius: 5px;
     text-align: center;
     background-color: white;
    
 }

 .card-image{
     margin: 0 0 10px 20px;
     height: 175px;
     width: 220px;
     object-fit: cover;
 }

 .card-data{    
     font-size: 1rem;
     color: black;
 }

 .card-title{
     font-weight: bold;
 }
 .card-button{
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    color:black;
    cursor: pointer;
    font-size: 1rem;

 }

 .card-button:hover{
     font-weight: bold;
   
 }