.principal{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    

}

.principalContenido{
    display: flex;
    justify-content: space-evenly;

}

.contenedorFiltros{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}